body {
  margin: 0;
  padding: 0;

  display: grid;
  height: 100%;

  /* Global Variables */
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --sky-blue: #a7e6ff;
}

a {
  color: var(--text-color-dark);
  text-decoration: none;
}

/* Header */
header {
  background: transparent;
  background: linear-gradient(45deg, rgba(157,152,255,1) 0%, rgba(208,208,255,1) 41%, rgba(200,246,255,1) 100%);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 10fr;
}
#header_logo {
  width: 35%;
  margin: 0.5rem 0rem 0.5rem 0.5rem;
}

/* Header > Nav Bar */
nav > ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}


footer {
  display: grid;
}


